<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 mb-3 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a class="text-muted text-decoration-none" href="https://github.com/pizidavi" target="_blank">
      © {{ date.getFullYear() }} PIZIDAVI
    </a>
  </div>
</footer>