{% import "partials/_variables.njk" as variables %}
<svg id="{{ title }}" width="{{ width }}" height="{{ height }}" viewBox="0 0 {{ width }} {{ height }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<defs>
  <style>
  text,
  tspan {
    font-family: 'Exo 2', sans-serif;
  }
  tspan {
    fill: #bfbfbf;
    font-size: 80%;
  }
  .cls-1 {
    fill: #f3f3f3;
    fill-rule: evenodd;
  }
  </style>

  <filter id="shadow" x="0" y="0" width="100%" height="150%">
    <feOffset result="offOut" in="SourceAlpha" dx="0" dy="-1" />
    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="4" />
    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
  </filter>
</defs>

  <!-- Sfondo -->
  <rect id="sfondo" x="0" y="0" width="100%" height="100%" fill="#f1f2f6" />

  {% block body %}{% endblock %}

</svg>
