{% extends "layouts/svg.njk" %}

{% set title = layout %}
{% set width = 720 %}
{% set height = 191 %}

{% block body %}

  <!-- Image -->
  <g id="image">
    <rect x="0" y="0" width="100%" height="74%" fill="#f2f2f2" />
    <text x="50%" y="40%" fill="#bfbfbf" font-size="22" dominant-baseline="middle" text-anchor="middle">{{ __('view.NO_IMAGE') | capitalize }}</text>
    <image x="0" y="0" height="74%" xlink:href="{{ data.image }}" />
  </g>

  <!-- Text -->
  <g id="text">
    <rect x="0" y="74%" width="100%" height="26%" fill="#1c1c1c" />

    <rect x="0" y="74%" width="7%" height="26%" fill="#737373" />
    <image x="1.3%" y="78.5%" width="4.5%" xlink:href="{{ variables.trakt_icon_white }}" />

    <text x="9%" y="83.9%" fill="#bfbfbf" font-size="14" dominant-baseline="bottom" text-anchor="left">
      {{ data.username | upper }} {{ __( 'LAST_WATCHED' if layout == "watched" else 'IS_WATCHING' ) | upper }}
    </text>
    <text x="9%" y="94.9%" fill="#e6e6e6" font-size="20" dominant-baseline="bottom" text-anchor="left">
      {% include "partials/text.njk" %}
    </text>
  </g>

{% endblock %}
