{% extends "layouts/svg.njk" %}

{% set title = layout %}
{% set width = 720 %}
{% set height = 462 %}

{% block body %}

  <!-- Image -->
  <g id="image">
    <rect x="0" y="0" width="100%" height="88%" fill="#f2f2f2" />
    <text x="50%" y="50%" fill="#bfbfbf" font-size="22" dominant-baseline="middle" text-anchor="middle">{{ __('view.NO_IMAGE') | capitalize }}</text>
    <image x="0" y="0" height="88%" xlink:href="{{ data.image }}" />
  </g>

  <!-- Text -->
  <g id="text">
    <rect x="0" y="88%" width="100%" height="12%" fill="#1c1c1c" />

    <rect x="0" y="88%" width="8%" height="12%" fill="#737373" />
    <image x="1%" y="89.6%" width="6%" xlink:href="{{ variables.trakt_icon_white }}" />

    <text x="10%" y="92.8%" fill="#bfbfbf" font-size="14" dominant-baseline="bottom" text-anchor="left">
      {{ data.username | upper }} {{ __( 'LAST_WATCHED' if layout == "watched" else 'IS_WATCHING' ) | upper }}
    </text>
    <text x="10%" y="97.5%" fill="#e6e6e6" font-size="22" dominant-baseline="bottom" text-anchor="left">
      {% include "partials/text.njk" %}
    </text>
  </g>

{% endblock %}
