{% extends "layouts/svg.njk" %}

{% set title = layout %}
{% set width = 720 %}
{% set height = 52 %}

{% block body %}

  <!-- Sfondo -->
  <rect id="sfondo" x="0" y="0" width="100%" height="100%" fill="#ffffff" />

  <!-- Text -->
  <g id="text">
    <rect x="0" y="0" width="100%" height="100%" fill="#1c1c1c" />

    <rect x="0" y="0" width="7%" height="100%" fill="#737373" />
    <image x="0.6%" y="10%" width="5.8%" xlink:href="{{ variables.trakt_icon_white }}" />

    <text x="9%" y="40%" fill="#bfbfbf" font-size="14" dominant-baseline="bottom" text-anchor="left">
      {{ data.username | upper }} {{ __( 'LAST_WATCHED' if layout == "watched" else 'IS_WATCHING' ) | upper }}
    </text>
    <text x="9%" y="80%" fill="#e6e6e6" font-size="20" dominant-baseline="bottom" text-anchor="left">
      {% include "partials/text.njk" %}
    </text>
  </g>

{% endblock %}
